
/* Start Variables */
:root{
    --first-color:#fff;
    --min-color:#0c2326;
    --secondary-color:#4fcaff;
}
/* End Variables */

  /* Start Global Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}html{
    scroll-behavior: smooth;
}body{}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.in-flex{
    display: flex;
}a{
    text-decoration: none;
}.main-btn{
    background-color: var(--secondary-color);
    padding: 10px 30px;
    color: var(--first-color);
    display: block;
    max-width: 215px;
    text-align: center;
    font-size: 20px;
}.section{
    padding: 70px 0;
}.section .head{
    font-size: 40px;
}.section .description{
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
}
/* Scroll */
::-webkit-scrollbar-thumb{
    background-color: var(--min-color);
}::-webkit-scrollbar-track{
    background-color: var(--secondary-color);
}
::-webkit-scrollbar{
    width: 5px;
}
/* End Global Rules */

/* Start Header*/
.header{
   background-color: var(--min-color);
   padding: 11px 0;
}.header .container{
    justify-content: space-between;
    align-items: center;
}.header .nav li{
    display: inline-block;
    list-style-type: none;
}.header .nav li a{
    padding: 20px;
    color: var(--first-color);
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    transition: color .3s ease-in-out;
}.header .nav li a:hover{
    color: var(--secondary-color);
}
/* End Header */

/* Start Slidshow */
.slider{
    background-image: url(../img/slide.jpg);
    background-size: cover;
    height: calc(100vh - 99px);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-areas: " . carousel carousel carousel carousel . .";
    align-items: center;
}
.slider .carousel-item{
    grid-area: carousel;
    background-color: rgba(5,3,0,0.63);
    height: 400px;
    padding: 50px;
    padding-top: 70px;
    color: var(--first-color);
    font-family: inherit;
}
.slider .carousel-item h2{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: inherit;
}
.slider .carousel-item h4{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    color:var(--secondary-color)
}
.slider .carousel-item p{
    font-size: 24px;
    line-height: 37px;
    color: rgb(231, 231, 231);
}.slider .carousel-item .main-btn{
    margin-top:15px
}
/* End SlideShow */

/* Start about-us */
.about-us{

}.about-us .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}.about-us .info{
    flex-basis: 50%;
}.about-us .info span{
    color: var(--secondary-color);
    font-weight: bold;
}.about-us .info h2{
    font-size: 20px;
    font-size: 44px;
    color: var(--min-color);
    font-family: cursive;
    line-height: 50px;
}.about-us .info p{
    font-size: 19px;
    color: #212529;
    line-height: 24px;
    margin-top: 20px;
}.about-us .picture img{
    max-width: 100%;
    width: 450px;
}@media (max-width:720px){
    .about-us{
        text-align: center;
    }.about-us .container{
        justify-content: space-around;
    }
    .about-us .picture {
        display: none;
    }
}
/* End  about-us */

/* Start our Works */
.our-works{
    background-color: var(--min-color);
    color: #fff;
}.our-works h2{
    
}.our-works p{
    
}.our-works .works-boxs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}@media (max-width:720px){
    .our-works .works-boxs {
        justify-content: space-around;
    }.our-works{
        text-align: center;
    }
}.our-works .works-boxs .box{
    margin-top: 20px;
    position: relative;
}.our-works .works-boxs .box .box-head{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--first-color);
    color: var(--min-color);
    padding: 20px;
}
/* End our works */

/* Start our-services*/
.our-services{
    background-color: #eee;
}
.our-services .description{
    margin-bottom: 50px;
}.our-services .services-boxs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}.our-services .services-boxs .box:first-of-type{
    /* grid-area: dfr; */
    grid-column-end: span 2;
}.our-services .services-boxs .box:not(first-of-type){
    /* grid-area: norm; */
}.our-services .services-boxs .box{
    position: relative;

}.our-services .services-boxs .box img{
    width: 100%;
    height: 100%;
}.our-services .services-boxs .box .head{
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--first-color);
    padding: 10px 45px;
    min-width: 100%;
    font-size: 22px;
    letter-spacing: 5px;
    transition: all .5s ease-in-out;
    
}.our-services .services-boxs .box:hover .head{
    letter-spacing: 10px;
}
/* End our-services*/

/* Start client-testimonial */
.client-testimonial{
    text-align: center;
}.client-testimonial .description{
    max-width: 100%;
}.client-testimonial .testimonial-box{
    text-align: left;
    padding: 40px;
    background-color: #a1a1a1;
    margin-top: 49px;
    box-shadow: 35px 40px var(--secondary-color);
}.box-header{
    font-size: 31px;
    font-weight: 600;
    color: #333;
}.box-description{
    font-size: 19px;
    line-height: 26px;
    margin-top: 20px;
    color: #505050;
}
/* End  client-testimonial */

/* subscripe-box */
.subscripe-box{
    background-color: var(--secondary-color);
    color: #FFF;
    margin-top:20px
}
.subscripe-box .container{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 2fr 5fr;
    align-items: center;
}.subscripe-box .desc .title{
    font-size: 39px;
    font-family: monospace;
}
.subscripe-box .desc p{
    font-size: 17px;
    margin-top: 10px;
    font-family: monospace;
}.subscripe-box .form input{
    padding: 20px 9px;
    font-size: 25px;
    border: 0;
    display: inline-block;
}.subscripe-box .form input[type="text"]{
    padding: 20px 9px;
    font-size: 25px;
    border: 0;
    min-width: calc(100% - 175px);
}.subscripe-box .form input[type="submit"]{
    background-color: #fa3e19;
    color: var(--first-color);
    padding: 20px 25px;
    margin-left: -4px;
}
/* End subscripe-box */

/* footer */
.footer{
    background-color: var(--min-color);
    color: var(--first-color);
    line-height: 20px;
    padding-bottom: 0;
}.footer .content{
    display: flex;
    justify-content: space-between;
}.footer .content ul{
    list-style-type: none;
    line-height: 25px;
}.footer .desc p{
    max-width: 200px;
    padding: 20px 0px 0px 12px ;
}.footer .content .row .title{
    line-height: 55px;
    font-size: 18px;
    letter-spacing: 2px;
}ul.content-info-box li{
    display: flex;
    margin-top: 10px;
}ul.content-info-box li i{
    padding-right: 17px;
    padding-top: 14px;
    color: var(--secondary-color);
}ul.content-info-box b{
    display: block;
}.footer .coppyright{
    text-align: center;
    padding: 20px 0;
    margin-top: 45px;
    border-top: 1px solid var(--secondary-color);
}.footer .coppyright a{
    color: var(--secondary-color);
    padding-left: 5px;
}
/* footer */